

<div class="footer bg-light fixed-bottom" style = "position: static;"> 
<footer style=" background-color: lightsteelblue; font-family: 'Courier New', Courier, monospace;"  fxLayout ="row" fxLayoutAlign = "space-evenly center">
    <div fxLayout ="column" fxLayoutAlign = "center center">
        <h1>Follow us</h1> 
        <div fxLayoutAlign="center center">          
            <img src ="../../assets/medias/facebook.png" width="2%" style="margin-left: 1%;">
            <img src ="../../assets/medias/twitter.png" width="2%" style="margin-left: 1%;">
            <img src ="../../assets/medias/instagram.png" width="2%" style="margin-left: 1%;">
            <img src ="../../assets/medias/gmail.png" width="2%" style="margin-left: 1%" >
        </div>
        <br>
        <h1>Payment Options</h1>
        <div fxLayoutAlign="center center" style=" margin-bottom: 1%;">
            <img width="10%" src="../../assets/payment/rupay.png" alt="paypal">
            <img src ="../../assets/payment/mastercard.png" width="10%" style="margin-left: 1%;">
            <img src ="../../assets/payment/visa.png" width="10%" style="margin-left: 1%;">
        </div>  
    </div>

   

    <div fxLayout="column" fxLayoutAlign="space-evenly center" >
        <h1>About Us</h1>
        About
       Gifts
       FAQ          
    </div>


 
    <div fxLayout ="column" fxLayoutAlign = "center center">
        <h1>Follow us</h1> 
        <div fxLayoutAlign="center center">          
            <img src ="../../assets/medias/facebook.png" width="2%" style="margin-left: 1%;">
            <img src ="../../assets/medias/twitter.png" width="2%" style="margin-left: 1%;">
            <img src ="../../assets/medias/instagram.png" width="2%" style="margin-left: 1%;">
            <img src ="../../assets/medias/gmail.png" width="2%" style="margin-left: 1%" >
        </div>
        <br>
        <br>
        <h1>Payment Options</h1>
        <div fxLayoutAlign="center center" style=" margin-bottom: 1%;">
            <img width="10%" src="../../assets/payment/rupay.png" alt="paypal">
            <img src ="../../assets/payment/mastercard.png" width="10%" style="margin-left: 1%;">
            <img src ="../../assets/payment/visa.png" width="10%" style="margin-left: 1%;">
        </div>  
    </div>
</footer>
<h3 style="text-align: center; background-color: lightslategray;"> © copyrighted content 2020</h3>
</div> 