

<div class="footer bg-light fixed-bottom" style = "position: static;"> 
<footer style=" background-color: lightsteelblue; font-family: 'Courier New', Courier, monospace;"  fxLayout ="row" fxLayoutAlign = "space-evenly center">
    <div fxLayout ="column" fxLayoutAlign = "center center">
        <h1>Follow us</h1> 
        <div fxLayoutAlign="center center">          
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/medias/facebook.png?raw=true" width="2%" style="margin-left: 1%;">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/medias/twitter.png?raw=true" width="2%" style="margin-left: 1%;">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/medias/instagram.png?raw=true" width="2%" style="margin-left: 1%;">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/medias/gmail.png?raw=true" width="2%" style="margin-left: 1%" >
        </div>
        <br>
        <h1>Payment Options</h1>
        <div fxLayoutAlign="center center" style=" margin-bottom: 1%;">
            <img width="10%" src="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/payment/rupay.png?raw=true" alt="paypal">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/payment/mastercard.png?raw=true" width="10%" style="margin-left: 1%;">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/payment/visa.png?raw=true" width="10%" style="margin-left: 1%;">
        </div>  
    </div>

   

    <div fxLayout="column" fxLayoutAlign="space-evenly center" >
        <h1>About Us</h1>
        About
       Gifts
       FAQ          
    </div>


 
    <div fxLayout ="column" fxLayoutAlign = "center center">
        <h1>Follow us</h1> 
        <div fxLayoutAlign="center center">          
             <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/medias/facebook.png?raw=true" width="2%" style="margin-left: 1%;">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/medias/twitter.png?raw=true" width="2%" style="margin-left: 1%;">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/medias/instagram.png?raw=true" width="2%" style="margin-left: 1%;">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/medias/gmail.png?raw=true" width="2%" style="margin-left: 1%" >
        </div>
        <br>
        <br>
        <h1>Payment Options</h1>
        <div fxLayoutAlign="center center" style=" margin-bottom: 1%;">
            <img width="10%" src="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/payment/rupay.png?raw=true" alt="paypal">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/payment/mastercard.png?raw=true" width="10%" style="margin-left: 1%;">
            <img src ="https://github.com/mohit-mourya/Mythos.com/blob/master/src/assets/payment/visa.png?raw=true" width="10%" style="margin-left: 1%;">
        </div>  
    </div>
</footer>
<h3 style="text-align: center; background-color: lightslategray;"> © copyrighted content 2020</h3>
</div> 
