

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 30%;
  background-image: url(../../assets/background.jpg);
  /* background-color:aliceblue; */
  font-weight: bolder;
}
.sidenav .mat-toolbar {
  background: inherit;
}


.mat-drawer-content {
  overflow: hidden;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-toolbar button{
  background-color: transparent;
  font-weight: bolder;
}

.img{
   width: 90%;
   margin-top: 2%;
   margin-bottom: 2%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
